.gridApi{
    display: grid;
    grid-template-areas: "cabecalhoArea" 
    "conteudo-Drink";
    grid-template-rows: 3fr 5fr;

}

.cabecalho{
grid-area: cabecalhoArea;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.conteudoDrink{
    grid-area: conteudo-Drink;
}

.posicionaBotao{
    display: flex;
    justify-content: space-around;
}

.drinkTitulo{
    text-align: center;
}

.botao{
    background-color: brown;
    color: #fffdf8;
    font-weight: 700;
    padding: 8px 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    width: 250px;
    border: none;
    display: block;
    margin-left: auto;
    cursor: pointer;
    transition: 0.5s ease background-color;
}