@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Open+Sans+Condensed:wght@700&display=swap");

.body {
  background: url("../../Img/bg-bons-drinks.jpg") no-repeat 50%;
  background-position: center;
  width: 100%;
  height: 100%;
  grid-area: content;

}

.mainTitle {
  font-family: "Bilbo Swash Caps";
  color:white;
  align-self: center;
  font-size: 120px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
