@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

footer {
    grid-area: "footer";
    height: 40px;
    font-size: 15px;
    font-weight:bold;
    font-family: 'Open Sans Condensed';
    display: flex;
    place-items: center;
    justify-content: center;
    background: #fffbef;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 42%)

}

