.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 80vh 10vh; 
  grid-template-areas: "header header" "imagem forms" "footer footer";
  height: auto;
}

.imgContato{
  grid-area: "imagem";
  grid-column: 2/3;
  justify-content: center;
}