.submit{
    border-radius: 10px;
    height: 40px;
    width: 100px;
    box-shadow: 0;
    background-color: #BBADFF;
}

#forms{
    grid-area: "forms";
    grid-column: 1/2;
    margin: 20px;
    justify-content: center;
    height: 100px;
} 

